@charset "utf-8";
body,button,caption,dd,div,dl,dt,fieldset,figure,form,h1,h2,h3,h4,h5,h6,hr,html,input,legend,li,menu,ol,p,pre,table,td,textarea,th,ul{margin:0;padding:0}
body{padding:0;margin:0}
abbr,body,fieldset,html,iframe,img{border:0}
li{list-style:none}
textarea{overflow:auto;resize:none}
a,button{cursor:pointer}
b,em,h1,h2,h3,h4,h5,h6,strong{font-weight:700}
a,a:hover{text-decoration:none;color:#666}
body,button,input,textarea{color:#666}
body{width:100%;height:auto;font-family:"Microsoft YaHei",Tahoma,Helvetica Neue,Helvetica,Arial,Hiragino Sans GB,Microsoft Yahei,Simhei,sans-serif;background-color:#000; color:#896b49;font-size:14px;line-height:1.6}
.clearfix:after{content:".";clear:both;display:block;height:0;visibility:hidden;font-size:0}
.clearfix{zoom:1}

.loading{width:100%;height:100%;opacity:1;position:fixed;top:0;left:0;z-index:999999;background:#030303;}
.loading .inner{width:140px;position:absolute;top:50%;left:50%;margin:-80px 0 0 -70px; text-align:center;color:#d7b5a5; font-size:.2rem}
.loading .loading_rate{color:#fff;font-size:20px;font-weight:700;margin-top: 10px; display:block}

.slide{height:100%;position:relative;width: 100%; overflow: hidden;}
.section{position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;min-height:650px; overflow: hidden;display: table;width: 100%;}

.yellow{color: #e8ae00;}
.red{color: #e82d23;}

.logo,.mouse,.pn,.stxt,.s_left,.s_right,.game_ts,.game_btn,.pop_btn a,.l_tit,.inquire{background:url('../images/i.png') no-repeat -9999px -9999px;overflow:hidden;text-indent:-9999em}
.sub{width:137px;position:fixed;left:70px;top:10%; height: 540px; z-index:9999;}
.sub:after{content:"";position:absolute;left:65px;top:115px;border-left:1px solid #675337;width:0;height:auto;bottom:34px;z-index:0}
.logo{background-position: 0 0;display:block;width:100%;height:115px;overflow:hidden;text-indent:-999px}
.sub_list{width:46px;height:auto;position:absolute;left:43px;top:110px; z-index:99}
.sub_list li{width:46px;height:32px;margin-top:70px;cursor:pointer;text-indent:0;position:relative;z-index:99}
.sub_list li::after{content:"";position:absolute;top:2px;left:22px;width:1px;height:28px;background-color:rgba(0,0,0,.5);z-index:0}
.sub_list li .pn{display:block;text-align:center;line-height:32px;position:relative;z-index:10; text-indent: 0; background-position:-177px -4px;}
.sub_list li.active, .sub_list li:hover{background-position:-354px -49px;color:#efe29b}
.stxt{position:absolute;left:22px;top:-3px;width:107px;height:37px;line-height:36px;background-position:-249px -2px;text-indent:24px;opacity:0;filter:Alpha(opacity=0)}
.sub_list li.active .stxt{opacity:1;filter:Alpha(opacity=100)}
.mouse{display:block;width:22px;height:34px;background-position:-378px 0;position:absolute;bottom:0;left:54px}

.home_bg{background:url('../images/b1.jpg') no-repeat center; width: 100%; height: 100%; opacity:0;
-o-transform:scale(.9,.9);
-ms-transform:scale(.9,.9);
-moz-transform:scale(.9,.9);
-webkit-transform:scale(.9,.9);
transform:scale(.9,.9);
-o-filter:blur(10px);
-ms-filter:blur(10px);
-moz-filter:blur(10px);
-webkit-filter:blur(10px);
filter:blur(10px);
}
.active .home_bg{
    opacity:1;
    -o-transition-delay:.6s;
    -ms-transition-delay:.6s;
    -moz-transition-delay:.6s;
    -webkit-transition-delay:.6s;
    transition-delay:.6s;
    -o-transform:scale(1);
    -ms-transform:scale(1);
    -moz-transform:scale(1);
    -webkit-transform:scale(1);
    transform:scale(1);
    -o-filter:blur(0);
    -ms-filter:blur(0);
    -moz-filter:blur(0);
    -webkit-filter:blur(0);
    filter:blur(0);
    -moz-transition:all .6s linear;-o-transition:all .6s linear;-ms-transition:all .6s linear;-webkit-transition:all .6s linear;transition:all .6s linear;
}
.cover_t,.cover_b{opacity: 1;width: 100%; position: absolute; left: 0; right: 0; -moz-transition:all .6s linear;-o-transition:all .6s linear;-ms-transition:all .6s linear;-webkit-transition:all .6s linear;transition:all .6s linear;}
.cover_t{top: 223px; height: 311px; background:url('../images/cover_top.png') no-repeat center bottom; z-index: 999;}
.cover_b{bottom: 300px; height: 207px; background:#000 url('../images/cover_bottom.png') no-repeat center top; bottom; z-index: 99;}
.active .cover_t{top: -300px; opacity: 0}
.active .cover_b{bottom: -200px; opacity: 0}
.number{position: absolute; bottom: 100px; width: 100%; text-align: center; font-size: 16px; color: #896b49; height: 20px; line-height: 20px; opacity: 0;}
.number::before{content: ""; position: absolute; left: 0; top: 10px; width: 48%; height: 1px; background: #6f512c;}
.number::after{content: ""; position: absolute; left: 52%; top: 10px; width: 100%; height: 1px; background: #6f512c;}
.active .number{
    -moz-transition:all .3s linear;-o-transition:all .3s linear;-ms-transition:all .3s linear;-webkit-transition:all .3s linear;transition:all .3s linear;
    opacity:1;
    -o-transition-delay:.8s;
    -ms-transition-delay:.8s;
    -moz-transition-delay:.8s;
    -webkit-transition-delay:.8s;
}

.home_sele{
    opacity: 0;
    height: 37px;
    width: 334px;
    position: absolute;
    left: 50%;
    margin-left: -167px;
    bottom: 132px;
    -moz-transition:all .3s linear;-o-transition:all .3s linear;-ms-transition:all .3s linear;-webkit-transition:all .3s linear;transition:all .3s linear;
}
.home_sele .mouse{;left: 50%;margin-left: -11px;}
.s_left{float: left; height: 37px; line-height: 37px; width: 128px; background-position: 0 -264px; text-indent: 24px; color: #ac8a61;}
.s_right{float: right; height: 37px; line-height: 37px; width: 128px; background-position: -138px -264px; text-indent: 51px; color: #ac8a61;}
.home_next .home_sele{
    opacity: 1;
}

.person{
    opacity: 0;
    width: 186px;
    height: 265px;
    position: absolute;
    left: 50%;
    margin-left: -135px;
    bottom: -20px;
    -moz-transition:all .6s linear;-o-transition:all .6s linear;-ms-transition:all .6s linear;-webkit-transition:all .6s linear;transition:all .6s linear;
}
.home_next .person{
    opacity: 1;
    -o-transition-delay:.6s;
    -ms-transition-delay:.6s;
    -moz-transition-delay:.6s;
    -webkit-transition-delay:.6s;
}
.point{
    width: 57px;
    height: 47px;
    display: block;
    position: absolute;
    right: -40px; top: -15px;
}

.slogan{
    opacity: 0;
    -moz-transition:all .6s linear;-o-transition:all .6s linear;-ms-transition:all .6s linear;-webkit-transition:all .6s linear;transition:all .6s linear;
    width: 815px;
    position: absolute;
    left: 50%;
    top: 105px;
    margin-left: -407px;
    font-size: 16px;
    color: #d8c094;
    -webkit-transform:translate3d(0,100px,0);-moz-transform:translate3d(0,100px,0);-o-transform:translate(0,100px,0);-ms-transform:translate3d(0,100px,0);transform:translate3d(0,100px,0);

}
.slogan p{padding-left: 16px; line-height: 1.2;}
.home_next .slogan{
    -webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-o-transform:translate(0,0);-ms-transform:translate3d(0,0,0);transform:translate3d(0,0,0);
    opacity: 1;
    -o-transition-delay:1.2s;
    -ms-transition-delay:1.2s;
    -moz-transition-delay:1.2s;
    -webkit-transition-delay:1.2s;
}


.bg_b{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background:url('../images/b2.jpg') no-repeat center;
    z-index: 1;
}

@-webkit-keyframes fadeOutBg{
    0%,40%{opacity:1; -webkit-transform:scale(1);}
    100%{opacity:0; -webkit-transform:scale(2);}
}
@keyframes fadeOutBg{
    0%,40%{opacity:1; transform:scale(1);}
    100%{opacity:0; transform:scale(2);}
}

.active .bg_b{
    -webkit-animation: fadeOutBg 1s ease-out both;
    animation: fadeOutBg 1s ease-out both;
}

.two_main{width: 100%; height: 100%;}
.sz_bg,.mz_bg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity:0;
    -moz-transition:all .3s linear;-o-transition:all .3s linear;-ms-transition:all .3s linear;-webkit-transition:all .3s linear;transition:all .3s linear;
}
.sz_bg{z-index: 1; background: url('../images/b3_a.png') no-repeat center;}
.mz_bg{z-index: 2; background: url('../images/b3_b.png') no-repeat center;}
.active .sz_bg,.active .mz_bg{
    opacity: .6;
}

.two_main .sz_show, .two_main .mz_show{
    opacity: 1!important;
}

.active .two_main .home_sele,.active .two_main .person{
    z-index: 99;
    opacity: 1;
    -o-transition-delay:1.2s;
    -ms-transition-delay:1.2s;
    -moz-transition-delay:1.2s;
    -webkit-transition-delay:1.2s;
}
.sz,.mz{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 999;
    opacity: 0;
    -o-transform:scale(.5);
    -moz-transform:scale(.5);
    -ms-transform:scale(.5);
    -webkit-transform:scale(.5);
    transform:scale(.5);
    -moz-transition:all .6s linear;-o-transition:all .6s linear;-ms-transition:all .6s linear;-webkit-transition:all .6s linear;transition:all .6s linear;
}
.active .sz, .active .mz{
    opacity:1;
    -o-transition-delay:1.2s;
    -ms-transition-delay:1.2s;
    -moz-transition-delay:1.2s;
    -webkit-transition-delay:1.2s;
    -o-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -webkit-transform:scale(1);
    transform:scale(1);
}
.sz{
    width: 396px;
    height: 371px;
    margin: -376px 0 0 -540px;
}
.mz{
    width: 385px;
    height: 368px;
    margin: -65px 0 0 150px;
}



#J_map{width: 100%; height: 100%; position: absolute; top: 0; z-index: 99; display: none;}
.mbg1{background: url('../images/b7.jpg') no-repeat center;}
.mbg2{background: url('../images/b6.jpg') no-repeat center;}
.start_game{position: absolute; top:50%; left: 50%; width: 215px; height: 170px; margin: -85px 0 0 -107px; text-align: center; color: #fff; z-index: 9; line-height: 27px;}
.game_ts{height: 62px; width: 115px; background-position:-187px -49px; display: inline-block;}
.game_btn{display: block; width: 213px; height: 70px; background-position: -187px -128px; box-shadow:6px 6px 6px rgba(0,0,0,.5)}
.success_pop{position: absolute; left: 0; top: 0; right: 0; bottom: 0; background: rgba(0,0,0,.7); z-index: 9999; display: none;}
.pop_main{position: absolute;left: 50%; top: 50%; width: 796px; height: 526px; margin:-263px 0 0 -398px; background: url('../images/pop.png') no-repeat center; text-align: center;}
.title{font-size: 48px; color: #dbb468; margin-top: 138px;}
.pop_tisp{font-size: 22px; color: #a5752f; margin: 10px auto 30px; line-height: 29px}
.pop_btn{width: 420px; margin: 0 auto 40px;}
.pop_btn a{display:block; width: 177px; height: 58px; background-position: 0 -196px;}
.pop_btn a.shear{float: right; background-position: 0 -128px;}


#map{width: 1125px; height: 604px; position: absolute; top: 50%; left: 50%; margin: -302px 0 0 -562px;}
.m1{background: url('../images/m1.png') no-repeat center;}
.m2{background: url('../images/m2.png') no-repeat center;}
.target{display: block;width: 78px; height: 78px; position: absolute; left: -40px; top: 215px;transform-style: preserve-3d;position: relative;}
.man{   display: block; width: 78px; height: 78px;  background-image: url('../images/walk.png');
    background-size: 711px 78px;
    -webkit-animation: man 1.8s steps(9) infinite;-moz-animation: man 1.8s steps(9) infinite;-o-animation: man 1.8s steps(9) infinite;animation: man 1.8s steps(9) infinite;
}
@-webkit-keyframes man{from{background-position: 0px;}to{background-position: -711px;}}
@-moz-keyframes man {from{background-position: 0px;}to {background-position: -711px;}}
@-ms-keyframes man {from {background-position: 0px;}to{background-position: -711px;}}
@-o-keyframes man{from {background-position: 0px;}to { background-position: -711px;}}
@keyframes man {from {background-position: 0px;}to { background-position: -711px;}}

.rotate .man{transform: rotateY(180deg);-ms-transform: rotateY(180deg);-ms-transform: rotateY(180deg);-webkit-transform: rotateY(180deg);-o-transform: rotateY(180deg);-webkit-transition: all 0.3s ease; transition: all 0.3s ease;}

.maze_area{width:1082px;height:558px;position:absolute;top:24px;left:23px;}
.mazebtn{display: inline-block; background: #000; color: #fff; padding: 10px;}

.lottery_area{background: url('../images/b8.jpg') no-repeat center;}
.lottery_box{width: 953px; margin: 100px auto auto;}
.lottery_top{margin-bottom: 25px; opacity: 0; -webkit-transform:translate3d(0,50px,0);-moz-transform:translate3d(0,50px,0);-o-transform:translate(0,50px,0);-ms-transform:translate3d(0,50px,0);transform:translate3d(0,50px,0);}
.active .lottery_top{
    opacity: 1;
    -moz-transition:all .6s linear;-o-transition:all .6s linear;-ms-transition:all .6s linear;-webkit-transition:all .6s linear;transition:all .6s linear;
    -webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-o-transform:translate(0,0,0);-ms-transform:translate3d(0,0,0);transform:translate3d(0,0,0);
}


.lottery_top li{margin-bottom: 16px; padding-left: 95px; position: relative; color: #341f08;  line-height: 23px;}
.lottery_top li span{position: absolute; left: 0; top: -2px; height: 28px; line-height: 28px; text-align: center; width: 78px; background: #411002; color: #d7b5a5;}

.lottery_item{
    opacity: 0;
    -o-transform:scale(.85);
    -ms-transform:scale(.85);
    -moz-transform:scale(.85);
    -webkit-transform:scale(.85);

}
.active .lottery_item{
    opacity: 1;
    -moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;-ms-transition:all .3s ease-in;-webkit-transition:all .3s ease-in;transition:all .3s ease-in;
    -o-transform:scale(1);
    -ms-transform:scale(1);
    -moz-transform:scale(1);
    -webkit-transform:scale(1);
}


#lottery{width: 697px; float: left; background: #341f08; padding: 10px;}
.cj_zp table tr{width:100%;float:left}
.cj_zp table tr td{width:231px;height:120px;display:block;float:left;position:relative;margin-bottom:1px;margin-right:1px;}
.lottery-unit-0,.lottery-unit-2,.lottery-unit-4,.lottery-unit-6{background:url('../images/lottery_b1.jpg') no-repeat;}
.lottery-unit-1,.lottery-unit-3,.lottery-unit-5,.lottery-unit-7{background:url('../images/lottery_b2.jpg') no-repeat;}
.cj_zp .lottery-unit i{height:73px;width:78px;display:block;position:relative;left:20px;top:20px;border:5px solid #765A36;}
.cj_zp .lottery-unit-0 i,.cj_zp .lottery-unit-4 i,.cj_zp .lottery-unit-6 i{background:url(../images/lu1.jpg) no-repeat;}
.cj_zp .lottery-unit-1 i{background:url(../images/lu2.jpg) no-repeat;}
.cj_zp .lottery-unit-2 i{background:url(../images/lu3.jpg) no-repeat;}
.cj_zp .lottery-unit-3 i{background:url(../images/lu4.jpg) no-repeat;}
.cj_zp .lottery-unit-5 i{background:url(../images/lu6.jpg) no-repeat;}
.cj_zp .lottery-unit-7 i{background:url(../images/lu5.jpg) no-repeat;}
.cj_zp table tr td em{width: 102px;right: 0px;font-size: 16px; line-height: 20px; position: absolute; color: #b59d71;bottom: 43px;font-weight: normal; font-style: normal;}
#lottery table td.active i{border:5px solid #F6D681;}
#lottery table td.active em{color:#F6D681;}
#choujiang {
    float: left;
    width: 230px;
    font-size: 31px;
    color: #48301A;
    font-weight: 700;
    height: 120px;
    text-align: center;
    line-height: 116px;
    background: url(../images/cj.jpg) no-repeat;
    hide-focus: expression(this.hideFocus=true);
}

.lottery_show{background:#412617;width:225px;height:382px;float:right}
.lottery_show .l_tit{height:37px;line-height:37px;border-bottom:1px solid #6c5030;background-color: #321309; background-position:-188px -218px;text-indent:0;text-align:center;font-weight:400;font-size:18px}
.show_list{margin:15px auto;padding:0 40px}
.show_list li{height:26px;line-height:26px;color:#c2a47c; overflow:hidden;font-size:12px;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;word-wrap:break-word;word-break:break-all}
.inquire{display:block;width:113px;height:29px;background-position:-287px -264px;margin:0 auto}
.lottery_txt{width: 480px; height: 95px; padding:23px 0 0 22px; font-size: 18px; line-height: 26px; color: #ecac4c; background:url('../images/lottery_txt.png') no-repeat; margin: 14px 0 0 114px;}


.walk{width: 216px;height: 216px;background-image: url('../images/walk.png');-webkit-animation: walk 1.8s steps(9) infinite;-moz-animation: walk 1.8s steps(9) infinite;-o-animation: walk 1.8s steps(9) infinite;animation: walk 1.8s steps(9) infinite;}
@-webkit-keyframes walk{from{background-position: 0px;}to{background-position: -1944px;}}
@-moz-keyframes walk {from{background-position: 0px;}to {background-position: -1944px;}}
@-ms-keyframes walk {from {background-position: 0px;}to{background-position: -1944px;}}
@-o-keyframes walk{from {background-position: 0px;}to { background-position: -1944px;}}
@keyframes walk {from {background-position: 0px;}to { background-position: -1944px;}}
